<!DOCTYPE html>
<html lang="he" dir="rtl">

{% block content %}

<body>

<h2>{{ client.get_fields.name}} , {{ client.get_fields.age}}</h2>
    <p>
    {{ client.get_fields.phone}}
    <p>
    {{ client.get_fields.address}}
    <p>
    {{ record.description }}
        <br> עדכון אחרון: {{ record.modified }}
<p>

<p>
    <button id="myButton0" class="float-right submit-button" >עדכן</button>
</p>


<br> <script type="text/javascript">
    document.getElementById("myButton0").onclick = function () {
        location.href = "update_client/{{ client.id }}";
    }
</script>

<h3> הסטוריית טיפולים </h3>

{% for treat in client.treatments.all %}
    <p>
    {{ treat|truncatewords:10 }}
    <button id="{{treat.id}}" class="float-right submit-button" >עדכן</button>

<br> <script type="text/javascript">
    document.getElementById("{{treat.id}}").onclick = function () {
        location.href = "update_treatment/{{client.id}}/{{treat.id}}";
    }
</script>

        {% endfor %}

<p>
    <button id="myButton1" class="float-right submit-button" >הוסף</button>
</p>


<br> <script type="text/javascript">
    document.getElementById("myButton1").onclick = function () {
        location.href = "add_treatment/{{ client.id }}";
    }

</script>

</body>

{% endblock %}

</html>