{% load static %}
<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <title>{{Title}}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
</head>

<body>

<nav class="Navigation">

<button id="BackButton1" class="float-left submit-button">רשימת מטופלים</button>

<script type="text/javascript">
    document.getElementById("BackButton1").onclick = function () {
        location.href = "../../index";
    }
</script>

<button id="BackButton2" class="float-left submit-button" >לו״ז</button>

<script type="text/javascript">
    document.getElementById("BackButton2").onclick = function () {
        location.href = "../schedule/schedule_treatment";
    }
</script>

</nav>

<nav class="ClientInfo">
<h2 id="ClientDetails">{{ client.get_fields.name}} , {{ client.get_fields.age}}</h2>

    <p> <a id="Phone" href="{{ client.get_fields.phone}}"> {{ client.get_fields.phone}} </a> </p>
    <p> {{ client.get_fields.address}} </p>
    <p> {{ record.description }} </p>

</nav>

<div class="UpdateInfoButton">
    <br> עדכון אחרון: <script>
</script>
    <span id="modified"> </span>  </p> <script> var dt = new Date("{{ record.modified|date:"Y-m-d"}}")
document.getElementById("modified").innerHTML=dt.toLocaleDateString(locales="he-IL");
</script>

<p>
    <button id="ModifyClient" class="float-right submit-button" >עדכן</button>
</p>

<br> <script type="text/javascript">
    document.getElementById("ModifyClient").onclick = function () {
        location.href = "update_client/{{ client.id }}";
    }
</script>
</div>


{% if treatments %}

<div class="add_treat" style = "position:relative;">
    <h3> הסטוריית טיפולים <button id="myButton1" class="float-left submit-button" >הוסף</button></h3>

    <script type="text/javascript">
    document.getElementById("myButton1").onclick = function () {
        location.href = "add_treatment/{{ client.id }}";
    }
</script>
</div>


    <table class="table" style="width:100%">
    <thead>

    <hgroup class="Tableheaders">
    <tr>
        <th>תאריך</th>
        <th>תיאור</th>
        <th>הטיפול הניתן</th>
        <th>הערות</th>
    </tr>
    </hgroup>

    </thead>
    <tbody>
{% for treat in treatments %}
    <tr>
        <hgroup class="TreatInfo">
        <td>
            <script>
        </script>
            <span id="{{treat.id}}"> </span> <script> var dt = new Date("{{ treat.created|date:"Y-m-d"}}")
            document.getElementById("{{treat.id}}").innerHTML=dt.toLocaleDateString(locales="he-IL");
            </script>
        </td>
        <td>{{treat.description|truncatewords:10}}</td>
        <td>{{treat.process|truncatewords:10}}</td>
        <td>{{treat.notice|truncatewords:10}}</td>
        <td>
            <button id="treat: {{treat.id}}" class="float-right submit-button" >עדכן</button>
            <script type="text/javascript">
            document.getElementById("treat: {{treat.id}}").onclick = function () {
                location.href = "update_treatment/{{client.id}}/{{treat.id}}";
            }</script></td>
            <td>
                <button id="treat: {{treat.id}} remove" class="float-right submit-button" >הסר</button>
                <script type="text/javascript">
                    document.getElementById("treat: {{treat.id}} remove").onclick = function () {
                        location.href = "remove_treatment/{{treat.id}}";
                    }</script></td>
        </hgroup>
    </tr>
{% endfor %}
    </tbody>
    </table>

   {% else %}
<div class="EmptyTreatments">
    <h3 id="Treatments">הסטוריית טיפולים <button id="AddTreatment" class="float-left submit-button" >הוסף</button></h3>

    <script type="text/javascript">
    document.getElementById("AddTreatment").onclick = function () {
        location.href = "add_treatment/{{ client.id }}";
    }
    </script>
{% endif %}
</div>
</body>

</html>