<!DOCTYPE html>
<html lang="he" dir="rtl">

{% block content %}

<body>

<h2> מטופלים </h2>

{% for client in Clients %}

    <p> <a href="/client/{{ client.id }}"> {{client}} מספר טיפולים: {{ client.treatments.all.count }} </a>

{% endfor %}

</body>

    <p>

<button id="myButton2" class="float-left submit-button" >מטופל חדש</button>

<script type="text/javascript">
    document.getElementById("myButton2").onclick = function () {
        location.href = "new_client";
    };

</script>

{% endblock %}

</html>