<!DOCTYPE html>
{% load static %}
<html lang="he" dir="rtl">

<head>
    <title>{{Title}}</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
</head>



    <body>

<nav class="Navigation">
    <button id="BackButton2" class="float-left submit-button" >לו״ז</button>

    <script type="text/javascript">
        document.getElementById("BackButton2").onclick = function () {
            location.href = "schedule/schedule_treatment";
        }
    </script>
</nav>

    <h2> מטופלים </h2>
    <nav>
        {% for client in Clients %}

            <p> <a href="/client/{{ client.id }}"> {{client}} מספר טיפולים: {{ client.treatments.all.count }} </a>

        {% endfor %}
    </nav>

    <p>

<button id="myButton2" class="float-left submit-button" >מטופל חדש</button>

<script type="text/javascript">
    document.getElementById("myButton2").onclick = function () {
        location.href = "new_client";
    };

</script>

    </body>

</html>