<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<button id="myButton1" class="float-left submit-button" >עדכון תיק</button>

<script type="text/javascript">
    document.getElementById("myButton1").onclick = function () {
        location.href = "new_record";
    };
</script>

<button id="myButton2" class="float-left submit-button" >מטופל חדש</button>

<script type="text/javascript">
    document.getElementById("myButton2").onclick = function () {
        location.href = "new_client";
    };

</script>

</body>
</html>