<!DOCTYPE html>
{% load static %}
<html lang="he" dir="rtl">

<head>
    <title>{{Title}}</title>
    <link rel="stylesheet" href="{% static 'css/../../static/css/main.css' %}" type="text/css">
</head>
<body>

{% if treatment_id %}
    <button id="BackButton" class="Back" >חזרה</button>
    <script type="text/javascript">
    document.getElementById("BackButton").onclick = function () {
        location.href = "../../{{ client.id }}";
    }    </script>


{%else%}
    <button id="BackButton" class="Back" >חזרה</button>
    <script type="text/javascript">
        document.getElementById("BackButton").onclick = function () {
            location.href = "../../schedule_treatment";
        }
    </script>

{%endif%}


<form method="POST">
    {% csrf_token %}
    <table class="UpdateTreatment">
        <script>
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        </script>
        <span id="datetime"></span> </p> <script> var dt = new Date("{{ treatment.modified|date:"Y-m-d H:i:s"}}")
        document.getElementById("datetime").innerHTML=dt.toLocaleString(locales= 'he-IL', options);
        </script>
        {{form.as_table}}
    </table>
    <input type="submit" value="עדכון">
</form>

</body>
</html>