{% extends "base.html" %}
{% load static %}

{% block title %} {{Title}} {% endblock %}

{% block content %}

<button id="BackButton" class="float-left submit-button" >חזרה</button>

<script type="text/javascript">
    document.getElementById("BackButton").onclick = function () {
        location.href = "../{{ client.id }}";
    }

</script>

<form method="POST">
    {% csrf_token %}
    <table class="UpdateClient">

            {{client_form.as_table}}
            {{record_form.as_table}}
        
    </table>
    <input type="submit" value="עדכון">
</form>

{% endblock content%}
