<!DOCTYPE html>
{% load static %}
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="{% static 'css/../../static/js/fullcalendar/main.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/../../static/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <script src={%static 'js/fullcalendar/main.js'%}> </script>
    <script src={%static 'js/fullcalendar/locales/he.js'%}></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'he',
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                editable: true,
                events: [
                    {% for event in events %}
                        {
                            title:  "{{event.client}}",
                            id: "{{ event.id }}",
                            start: "{{ event.event_date|date:"Y-m-d H:m"}}",
                            url: "../client/{{event.client.id}}",
                            backgroundColor: '{{event.client.color}}'
                        },
                    {% endfor %}
                ],
            });
            calendar.render();
        });

    </script>
</head>

<body>
<nav class="Navigation">
    <button id="ToSchedule" class="float-left submit-button" >לו״ז</button>

    <script type="text/javascript">
        document.getElementById("ToSchedule").onclick = function () {
            location.href = "./schedule_treatment";
        }
    </script>

    <button id="ToPatients" class="float-left submit-button" >רשימת מטופלים</button>

    <script type="text/javascript">
        document.getElementById("ToPatients").onclick = function () {
            location.href = "../../index";
        }
    </script>
</nav>
<div id='calendar'></div>
</body>
</html>